h1 {
  font-size: 40px;
}

h2 {
  font-size: 20px;
}

.row {
  display: flex;
  min-height: 60px;
  border-bottom: 1px solid #eee;
  align-content: center;
}

.row-error {
  border: 2px solid #f56767;
}

.row-item {
  padding: 10px;
  border: 1px solid #FFF;
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
}

.row-item-error {
  background: #ff9999;
}

.title {
  font-weight: 700;
  align-self: flex-end;
}

input {
  border: 1px solid #eee;
  flex-grow: 1;
  padding: 5px;
  background: #efefef;
  border-radius: 5px;
}

.btn {
  padding: 5px;
  cursor: pointer;
  flex-grow: 1;
  border: 0;
  background: gray;
  margin-right: 10px;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
}

.btn-primary {
  background: #9999FF;
}

.btn-danger {
  background: #ff9999;
}
