.app {
  font-size: 14px;
  font-family: sans-serif;
  /*max-width: 800px;*/
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  height: 30px;
}

nav>a {
  margin: 2px;
  display: flex;
  flex-basis: 100px;
  align-items: center;
  justify-content: center;
  background: gray;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}
